extends layout
block content
  header
    h1= title
  .container
    section.workflow
      .hammer
      h2 Getting Started
      p Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.
      p Praesent <a href="#">commodo cursus magna</a>, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    section.features
      #nails
        .nail1
        .nail2
        .nail3
      h2 Features
    section.install
      #download-arrow
      h2 Install:
      p Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta <a href="#">gravida</a> at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.
